.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: rgb(240, 206, 15);
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.favoriteimage
{
  width: 40px;
}

profilepicture
{
  width: 200%;
}

.leftadjust
{
  text-align: left;
}

.rightadjust
{
  text-align: right;
}
.midadjust
{
  text-align: center;
}

.favoritemargin
{
  margin-top: 10px;
  margin-left: 0px;
}

.paddingtop
{
  padding-top: 10px;
  padding-right: 50px;
}

.padcrazy
{
  padding-top: 100px;
}

.paddingleft
{
  padding-top: 10px;
  padding-left: 50px;
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;

}

.flex-item {
  padding: 5px;
  width: 200px;
  height: 150px;
  margin-top: 10px;
  
  line-height: 150px;
  font-weight: bold;
  font-size: 3em;
  text-align: center;

}


.navbar-header {
  background-color: rgb(112, 16, 16);
}
.navbar-nav{
  background-color: rgb(112, 16, 16);
  
}
.navbar-collapse{
  background-color: rgb(112, 16, 16);
  color: rgb(112, 16, 16);
}
.navbar-brand
{
  -webkit-text-fill-color: white;
}



@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
